@page
@model Ecommerce.Areas.Identity.Pages.Account.ResetPasswordModel
@{
    ViewData["Title"] = "Reset password";
}

<h2>@ViewData["Title"]</h2>
<hr />
<div class="row">
    <div class="col-md-4">

        @using (Html.BeginForm())
        {
            @ViewData["Mesagge"]
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            @Model.ErrorMesagge
            @Model.StatusMesagge
            <div class="form-group">
                @Html.LabelFor(model => model.Input.Email)
                <div class="form-label-group">
                    @Html.EditorFor(model => model.Input.Email, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Input.Email, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <div class="form-row">
                    <div class="col-md-6">
                        @Html.LabelFor(model => model.Input.Password)
                        <div class="form-label-group">
                            @Html.EditorFor(model => model.Input.Password, new { htmlAttributes = new { placeholder = "Password", @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Input.Password, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-md-6">
                        @Html.LabelFor(model => model.Input.ConfirmPassword)
                        <div class="form-label-group">
                            @Html.EditorFor(model => model.Input.ConfirmPassword, new { htmlAttributes = new { placeholder = "Confirm Password", @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Input.ConfirmPassword, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block">Reset</button>
            </div>
        }
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
